
<div id="<%= dom_id recipe %>">
  <div class="recipe_container">
      <div class="<%= params[:id].present?? 'recipe no_border' : 'recipe' %>">
        <div>
          <%= link_to recipe do %>
            <h1><%= recipe.name %>  </h1>
          <% end %>
          <div class="<%= params[:id].present? ? 'hide_btn' : '' %>">
            <%= button_to "Remove", recipe, method: :delete, class: 'delete_btn' %>
          </div>
        </div>
         <% if params[:id].present? %>
          <div class="recipe_details">
            <div>
              <p>
                <strong>Preparation time:</strong>
                  <%= recipe.preparation_time %>
              </p>
              <p>
                <strong>Cooking time:</strong>
                <%= recipe.cooking_time %>
              </p>
            </div>
            <% if user_signed_in? %>
              <div class="toggle_container">
                <p><%= recipe.public?? 'Public' : 'Private' %></p>
                <div class="toggle_btn">
                  <%= form_with(model: recipe) do |form| %>
                    <%= form.label :public do %>
                      <%= form.check_box :public, { checked: recipe.public, onchange: 'this.form.submit()' } %>
                      <span class="slider"></span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <div class="recipe_description">
         <%= link_to recipe do %>
          <p><%= recipe.description %></p>
          <% end %>
        </div>
      </div>
        <% if params[:id].present? %>
          <% if user_signed_in? %>
            <div class="generate_add">
              <%= link_to "Generate shopping list", general_shopping_list_index_path %>
              <%= link_to "Add Ingredient", new_recipe_food_path(recipe_id: params[:id]) %>
            </div>
          <% end %>
          <div class="generated_shopping_list">
            <%= render partial: "generated_shopping_list" %>
          </div>
      <% end %>
    </div>
</div>
