<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
     <nav>
     <h1>RecipeApp</h1>
      <ul>
        <li><%= link_to "Food", foods_path %></li>
        <li><%= link_to "Recipe" %></li>
        <li><%= link_to "Public Recipe" %></li>
        <li><%= link_to "Registration" %></li>
        <li><%= link_to "Login" %></li>
        <li><%= link_to "Logout" %></li>
      </ul>
     </nav>

    </header>
  <main class="container container-main">
    <%= yield %>
  </main>
  </body>
</html>
