<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
     <nav>
     <h1>RecipeApp</h1>
      <ul>
        <li><%= link_to "Food", foods_path %></li>
        <li><%= link_to "Recipe" %></li>
        <li><%= link_to "Public Recipe", public_recipes_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li class="devise-logout"><%= form_tag(logout_path, method: :delete) do %>
          <%= submit_tag "Logout" %>
        <% end %></li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
     </nav>

    </header>
  <main class="container container-main">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
  </body>
</html>
